.cart{
    width:100%;
    margin-top:20px;
}
body {
    background: #ccc url("../images/photography.png") repeat;
}
.pager{
    text-align: center;
}
#card-distance-from-top{
    margin-top:20px;
}
#bottom{
    margin-top:20px;
}
.title:hover{
    color:red;
}
.bottom-page{
    margin-top:20px;
}
.edit{
    margin-top:20px;
}
.round{
    border-radius:40px;
    background-color:lightgray;
    border: none;
}
.post {
    background:white;
    margin-top: 20px;
    height: 200px;
    padding:4%;
}
.label-input{
    margin-top:40px;
}
.edit-image{
    margin-top:40px;
    height:400px;
    width:100%;
}
.img-properties{
    width:100%;
    height:200px;
}
.reverse{

}
.center{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.fa-color{
    color:darkgray;
}
.cards{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
}
.my-content{
    margin-top:90px;
}
.my-sidebar{
    margin-top:80px;
}
.green{
    background-color:rgb(174,255,94);
    margin-top:20px;
    width:98%;
}
.red{
    background-color:rgb(255,87,91);
    margin-top:20px;
    width:98%;
}
.show-img{
    width:100%;
    display:block;
}
.font-small{
    font-size:70%;
}
.post-detail{
    overflow:auto;
}
.a-hover:hover{
    color:yellow;
}
.categoryback{
    background-color: rgb(177,100,255);
}
.categorycolor{
    color: rgb(177,100,255);
}
